In [1]:
! ls

00-00-Project-Notes-Planning.ipynb
10-00-MODIS-NDVI-in-GA-Buckets-revisited.ipynb
20-00-Earth-Explorer-List-of-Tiles-h11v04-sinu-sensational.ipynb
CopyofMODIS_MOD13Q1_V6_416185.csv
mybrowse.jpg

In [2]:
import pandas as pd
data='CopyofMODIS_MOD13Q1_V6_416185.csv'
df = pd.read_csv(data, encoding="ISO-8859-1")  
df.head()

,Local Granule ID,Entity ID,Acquisition Start Date,Acquisition End Date,Horizontal Tile Number,Vertical Tile Number,Day/Night Indicator,Version Number,Product Generation Algorithm,Auto Quality Flag,...,NW Corner Long dec,NE Corner Lat dec,NE Corner Long dec,SE Corner Lat dec,SE Corner Long dec,SW Corner Lat dec,SW Corner Long dec,Display ID,Ordering ID,Browse Link
0,MOD13Q1.A2020017.h11v04.006.2020034144425.hdf,2358244746,1/17/2020,2/1/2020,11,4,Day,6,6.0.35,Passed,...,-109.0855,50.0921,-93.3968,39.8489,-78.1497,39.7728,-91.3388,MOD13Q1.A2020017.h11v04.006,2358244746,https://earthexplorer.usgs.gov/browse-link/107...
1,MOD13Q1.A2019017.h11v04.006.2019037160703.hdf,2327558207,1/17/2019,2/1/2019,11,4,Day,6,6.0.35,Passed,...,-109.0855,50.0921,-93.3968,39.8489,-78.1497,39.7728,-91.3388,MOD13Q1.A2019017.h11v04.006,2327558207,https://earthexplorer.usgs.gov/browse-link/107...
2,MOD13Q1.A2018161.h11v04.006.2018177235718.hdf,2298473733,6/10/2018,6/25/2018,11,4,Day,6,6.0.35,Passed,...,-109.0855,50.0921,-93.3968,39.8489,-78.1497,39.7728,-91.3388,MOD13Q1.A2018161.h11v04.006,2298473733,https://earthexplorer.usgs.gov/browse-link/107...
3,MOD13Q1.A2018193.h11v04.006.2018210001420.hdf,2302670946,7/12/2018,7/27/2018,11,4,Day,6,6.0.35,Passed,...,-109.0855,50.0921,-93.3968,39.8489,-78.1497,39.7728,-91.3388,MOD13Q1.A2018193.h11v04.006,2302670946,https://earthexplorer.usgs.gov/browse-link/107...
4,MOD13Q1.A2018177.h11v04.006.2018197102836.hdf,2300627868,6/26/2018,7/11/2018,11,4,Day,6,6.0.35,Passed,...,-109.0855,50.0921,-93.3968,39.8489,-78.1497,39.7728,-91.3388,MOD13Q1.A2018177.h11v04.006,2300627868,https://earthexplorer.usgs.gov/browse-link/107...

In [3]:
df.shape

(373, 41)

In [4]:
df2 = df[['Acquisition End Date','Browse Link']]

In [5]:
df2.head()

  Acquisition End Date                                        Browse Link
0             2/1/2020  https://earthexplorer.usgs.gov/browse-link/107...
1             2/1/2019  https://earthexplorer.usgs.gov/browse-link/107...
2            6/25/2018  https://earthexplorer.usgs.gov/browse-link/107...
3            7/27/2018  https://earthexplorer.usgs.gov/browse-link/107...
4            7/11/2018  https://earthexplorer.usgs.gov/browse-link/107...

In [6]:
df2['Acquisition End Date'] = pd.to_datetime(df2['Acquisition End Date'])
df3 = df2.sort_values(by='Acquisition End Date')

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [7]:
df3

    Acquisition End Date                                        Browse Link
171           2000-03-04  https://earthexplorer.usgs.gov/browse-link/107...
173           2000-03-20  https://earthexplorer.usgs.gov/browse-link/107...
174           2000-04-05  https://earthexplorer.usgs.gov/browse-link/107...
172           2000-04-21  https://earthexplorer.usgs.gov/browse-link/107...
169           2000-05-23  https://earthexplorer.usgs.gov/browse-link/107...
..                   ...                                                ...
0             2020-02-01  https://earthexplorer.usgs.gov/browse-link/107...
204           2020-02-17  https://earthexplorer.usgs.gov/browse-link/107...
206           2020-03-04  https://earthexplorer.usgs.gov/browse-link/107...
205           2020-03-20  https://earthexplorer.usgs.gov/browse-link/107...
203           2020-04-05  https://earthexplorer.usgs.gov/browse-link/107...

[373 rows x 2 columns]

In [8]:
df3['y'] = df3['Acquisition End Date'].dt.year

In [9]:
df3

,Acquisition End Date,Browse Link,y
171,2000-03-04,https://earthexplorer.usgs.gov/browse-link/107...,2000
173,2000-03-20,https://earthexplorer.usgs.gov/browse-link/107...,2000
174,2000-04-05,https://earthexplorer.usgs.gov/browse-link/107...,2000
172,2000-04-21,https://earthexplorer.usgs.gov/browse-link/107...,2000
169,2000-05-23,https://earthexplorer.usgs.gov/browse-link/107...,2000
...,...,...,...
0,2020-02-01,https://earthexplorer.usgs.gov/browse-link/107...,2020
204,2020-02-17,https://earthexplorer.usgs.gov/browse-link/107...,2020
206,2020-03-04,https://earthexplorer.usgs.gov/browse-link/107...,2020
205,2020-03-20,https://earthexplorer.usgs.gov/browse-link/107...,2020
203,2020-04-05,https://earthexplorer.usgs.gov/browse-link/107...,2020

In [10]:
df3.count()

Acquisition End Date    373
Browse Link             373
y                       373
dtype: int64

In [11]:
df3[['y']].count()

y    373
dtype: int64

In [12]:
df3.groupby('y').count()

      Acquisition End Date  Browse Link
y
2000                    17           17
2001                    18           18
2002                    20           20
2003                    18           18
2004                    18           18
2005                    20           20
2006                    17           17
2007                    17           17
2008                    19           19
2009                    18           18
2010                    18           18
2011                    18           18
2012                    18           18
2013                    18           18
2014                    20           20
2015                    19           19
2016                    18           18
2017                    19           19
2018                    19           19
2019                    19           19
2020                     5            5

In [13]:
bl = df3.loc[df3['Acquisition End Date'] == '2020-02-01']['Browse Link'][0]

print(bl)

https://earthexplorer.usgs.gov/browse-link/10785/2358244746

https://earthexplorer.usgs.gov/browse-link/10785/2358244746

In [14]:
df3.loc[df3['Acquisition End Date'] == '2020-02-01']['Browse Link']

0    https://earthexplorer.usgs.gov/browse-link/107...
Name: Browse Link, dtype: object

In [15]:
! wget https://earthexplorer.usgs.gov/browse-link/10785/2358244746 -O mybrowse.jpg

--2020-04-18 19:00:56--  https://earthexplorer.usgs.gov/browse-link/10785/2358244746
Resolving earthexplorer.usgs.gov (earthexplorer.usgs.gov)... 152.61.136.118, 2001:49c8:4000:122c::118
Connecting to earthexplorer.usgs.gov (earthexplorer.usgs.gov)|152.61.136.118|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13541 (13K) [image/jpg]
Saving to: ‘mybrowse.jpg’

mybrowse.jpg        100%[===================>]  13.22K  --.-KB/s    in 0.06s

2020-04-18 19:00:56 (215 KB/s) - ‘mybrowse.jpg’ saved [13541/13541]

In [16]:
! ls -l

total 324
-rw-r--r-- 1 jupyter-butzer jupyter-butzer   3890 Apr 18 15:53 00-00-Project-Notes-Planning.ipynb
-rw-r--r-- 1 jupyter-butzer jupyter-butzer    992 Apr 18 18:18 10-00-MODIS-NDVI-in-GA-Buckets-revisited.ipynb
-rw-r--r-- 1 jupyter-butzer jupyter-butzer  33551 Apr 18 18:59 20-00-Earth-Explorer-List-of-Tiles-h11v04-sinu-sensational.ipynb
-rw-r--r-- 1 jupyter-butzer jupyter-butzer 269231 Apr 18 18:18 CopyofMODIS_MOD13Q1_V6_416185.csv
-rw-r--r-- 1 jupyter-butzer jupyter-butzer  13541 Apr 18 19:00 mybrowse.jpg

![](2358244746)

![](mybrowse.jpg)

In [17]:
!ls

00-00-Project-Notes-Planning.ipynb
10-00-MODIS-NDVI-in-GA-Buckets-revisited.ipynb
20-00-Earth-Explorer-List-of-Tiles-h11v04-sinu-sensational.ipynb
CopyofMODIS_MOD13Q1_V6_416185.csv
mybrowse.jpg